/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2C6B3D; /* Verde fuerte */
}

/* Header */
.header {
    width: 100%;
    background-color: #2C6B3D; /* Verde fuerte */
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
}

.header a:hover {
    color: #A0D16B; /* Verde claro para hover */
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Enlaces y tarjetas */
.links-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dashboard-link {
    display: block;
    text-decoration: none;
    background-color: #A0D16B; /* Verde claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    color: #333;
}

.dashboard-link:hover {
    background-color: #2C6B3D; /* Verde fuerte */
    transform: translateY(-5px);
}

.dashboard-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}

.dashboard-item p {
    font-size: 1rem;
    color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .header {
        font-size: 0.9rem;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .links-container {
        grid-template-columns: 1fr 1fr;
    }

    .dashboard-link {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .header a {
        margin-left: 0;
        margin-top: 5px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .links-container {
        grid-template-columns: 1fr;
    }

    .dashboard-link {
        padding: 10px;
    }
}
